/*general styles to be applied to every page*/
* {
	margin:0px; 
	padding:0px;
}
/*Fix for IE*/
img {
	border-width: 0;
}
body {
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
    
    background-color: #15718F;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: block;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    z-index: -1;
}

@keyframes canvasEnterR {
    from { left: 100vw }
}


@keyframes canvasLeaveR {
    to { left: 100vw }
}

@keyframes canvasEnterL {
    from { left: -100vw }
}


@keyframes canvasLeaveL {
    to { left: -100vw }
}

header {
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    position: absolute;
    top: 0px;
}

/* Floating UI buttons for zooming and other options */

#controlBar {
	width: 5vw;
	height: 5vh;
	top: 0px;
	right: 0px;
}

#controlBar button {
	width: 3vw;
	height: 5vh;
	display: block;
	margin: 1vh -2vw;
}

/* Floating UI buttons for board phase */

#bottomBar {
	width: 100vw;
	height: 5vh;
	bottom: 0px;
	left: 0px;
}

#bottomBar button {
	width: 14vw;
	height: 5vh;
	display: inline;
	margin: -2vh 1vw;
}

/* Style for all button bars */

.buttonBar {
	pointer-events: none;
	text-align: center;
	padding-top: 1vw;
	padding-bottom: 1vh;
	vertical-align: middle;
	background-color: none;
	position: fixed;
	margin: 0;
}

.buttonBar button {
	pointer-events: auto;
	font-size: 0.9vw;
	border: none;
	border-radius: 0.7vw;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	background-color: white;
}

.buttonBar button:hover {
	background-color: #aaa;
}

.buttonBar button:disabled {
	background-color: white;
}

.buttonBar button:focus {
	outline: 0;
}

.buttonBar .active {
	background-color: #ccc;
}

/* Style for the zoom slider */
#controlBar input[type="range"]{
	pointer-events: auto;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -ms-transform-origin: top left;
    right: 0;
    margin-bottom: 20vh;
}

.downloadLink {
	display: block;
	font-size: 1.5vw;
	width: 20vw;
	height: 4vw;
	border-radius: 1vw;
	/*border: solid 0.1vw #ddd;*/
	box-shadow: 0 0 1vw black;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	position: fixed;
	top: 35vh;
	left: 40vw;
	padding-top: 2vw;
}

.topBtns {
	position: fixed; 
	left: 1vw;
	top: 2vh;
}

.topBtns button{
	background-color: rgba(0,0,0,0);
	border: none;
}

.topBtns button:hover{
	background-color: rgba(0,0,0,0.25);
}

#proceedContainer {
	position: fixed;
	left: 30vw;
	bottom: 15vh;
	
}

.proceedEndWidth {
	display: block;
	width: 20vw;
	padding: 1vw 4vw 1vw 2vw;
}

@keyframes proceedWidth {
    from { width: 0vw; padding: 1vw 0vw 1vw 2vw; }
}

#proceedBtnLong {
	background-color: #2FBFBE;
	box-shadow: 0 0 0.5vw black;
	position: absolute;

	font-weight: bold;
	font-family: arial;
	font-size: 2vw;
	left: 5.2vw;
	top: 0.8vh;
	border: none;
	color: white;
	/*transition: padding 1s, width 1s;
	transition-timing-function: linear;*/
	overflow: hidden;
	display: block;
	width: 20vw; 
	padding: 1vw 4vw 1vw 2vw;
	animation-name: proceedWidth;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.proceedStartLeft {
	left: 3.8vw;
}

.proceedEndLeft {
	left: 22vw;
}

.hidden {
	display: none;
	left: 3.8vw;
	width: 12vw;
	padding: 1vw 4vw 1vw 2vw;
}

@keyframes proceedLeft {
    from { left: 3.8vw }
}


#proceedBtnRound {
	background-color: #2FBFBE;
	box-shadow: 0 0 0.5vw black;
	position: absolute;
	left: 22vw;
	width: 5vw;
	height: 5vw;
	border-radius: 100%;
	top: 0vh;
	animation-name: proceedLeft;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

#proceedContainer:hover #proceedBtnRound {
	cursor: pointer;
	box-shadow: 0 0 0.5vw white;
}

#proceedContainer:hover #proceedBtnLong {
	cursor: pointer;
	box-shadow: 0 0 0.5vw white;
}

#rightArrow {
	position: absolute;
	left: 37%;
	top: 13%;
	font-size: 3vw;
	color: white;
	font-weight: bold;
}

section{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.context {
	display:none;
	position:absolute;
	background-color:lightGrey;
	box-shadow:2px 2px 1px grey;
	width:250px;
}

.context ul {
	list-style:none;
	padding:0;
	margin:0;
}

.context li {
	padding:5px;
	display: block;
}

.context li:hover {
	background-color:#90C8F6;
	cursor:default;
}

.context .hotkey {
	float: right;
}