/*general styles to be applied to every page*/
* {
	margin:0px; 
	padding:0px;
}
/*Fix for IE*/
img {
	border-width: 0;
}
body {
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
    
    background-color: black;
}

canvas {
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: block;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

header {
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    position: absolute;
    top: 0px;
}

/* Floating UI buttons for zooming and other options */

#controlBar {
	width: 5vw;
	height: 5vh;
	top: 0px;
	right: 0px;
}

#controlBar button {
	width: 3vw;
	height: 5vh;
	display: block;
	margin: 1vh -2vw;
}

/* Floating UI buttons for board phase */

#bottomBar {
	width: 100vw;
	height: 5vh;
	bottom: 0px;
	left: 0px;
}

#bottomBar button {
	width: 14vw;
	height: 5vh;
	display: inline;
	margin: -2vh 1vw;
}

/* Style for all button bars */

.buttonBar {
	pointer-events: none;
	text-align: center;
	padding-top: 1vw;
	padding-bottom: 1vh;
	vertical-align: middle;
	background-color: none;
	position: fixed;
	margin: 0;
}

.buttonBar button {
	pointer-events: auto;
	font-size: 0.9vw;
	border: none;
	border-radius: 0.7vw;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	background-color: white;
}

.buttonBar button:hover {
	background-color: #eee;
}

.buttonBar button:disabled {
	background-color: white;
}

.buttonBar button:focus {
	outline: 0;
}

/* Style for the zoom slider */
#controlBar input[type="range"]{
	pointer-events: auto;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -ms-transform-origin: top left;
    right: 0;
    margin-bottom: 20vh;
}