/*general styles to be applied to every page*/
* {
	margin:0px; 
	padding:0px;
}
/*Fix for IE*/
img {
	border-width: 0;
}
body {
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
    
    background-color: black;
}

canvas {
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: block;
}

header {
    width: 100%;
    height: 50px;
    background-color: dodgerblue;
    position: absolute;
    top: 0px;
}

#debugLine{
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 10pt;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* Floating UI buttons for board phase */

.bottomBar {
	pointer-events: none;
	width: 100vw;
	height: 5vw;
	text-align: center;
	padding-top: 1vw;
	padding-bottom: 1vw;
	vertical-align: middle;
	background-color: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 0;
}

.bottomBar button {
	pointer-events: auto;
	font-size: 1.5vw;
	width: 10vw;
	height: 3vw;
	display: inline;
	border: none;
	border-radius: 0.7vw;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	margin: 1vw;
	background-color: white;
}

.bottomBar button:hover {
	background-color: #eee;
}

.bottomBar button:active {
	background-color: #f9f9ff;
}

.questionPanels {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.qPanel {
	/*border: solid black;*/
	background-color: white;
	box-shadow: 0px 0px 5px;
}

.multipleChoiceAnswers {
	position: fixed;
	width: 30vw;
	height: 30vw;
	right: 10vw;
	bottom: 10vw;
}

.multipleChoiceText {
	position: fixed;
	width: 40vw;
	height: 20vw;
	left: 10vw;
	top: 5vw;
}
.emailQuestion {
	position: fixed;
	width: 60vw;
	height: 40vw;
	left: 20vw;
	top: 5vw;
}
.resources {
	position: fixed;
	width: 40vw;
	height: 20vw;
	left: 10vw;
	bottom: 5vw;
}