#windowFlim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
}

.window {
  position: fixed;
  width: 30vw;
  min-width: 50vh;
  z-index: 2;
  font-family: Sans-serif;
}

.window h3 {
 	margin-bottom: 0.5em;
}

.window b {
	line-height: 1.5em;
}

.window hr {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.windowContent {
  background-color: #FFFFFF;
  color: 'black';
  min-height: 10vw;
  padding: 1vw;
  font-size: 0.9em;
}

.title {
	background-color: #2FBFBE;
	color: #FFFFFF;
	font-weight: bold;
	width: calc(100% - 0.8vw);	
	padding: 0.4vw;
}

.resource {
  min-height: 5vw;
  margin: 1vh 1vw;
  border: 1px solid #EEEEEE;
  height: 5vh;
  padding: 1vh 1vw;
}
.resource img {
  float: left;
  height: 100%;
  margin-right: 1vw;
}

.resource div{
  margin-top: 1vh;
  height: 2.5vh;
  min-height: 2vw;
  background-color: lightGrey;
}

.resource a {
    text-decoration: none;
    border: none;
    color: initial;
}

.resource div img {
  float: left;
  height: 50%;
  margin-right: 0;
  margin-left: 1vw;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.windowContent button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid grey;
  background-color: #A9A9A9;
  margin: 0 auto 5% auto;
  width: 80%;
  height: 5vh;
}

.windowContent button:hover {
  background-color: grey;
}

.windowContent button:disabled {
  background-color: #FFFFFF;
  color: #A9A9A9;
}

.windowContent button.wrong:disabled {
  border-color: #FF0000;
}

.windowContent button.correct:disabled {
  border-color: #00FF00;
}

.windowContent textarea {
  height: 80%;
  width: 80%;
  margin: 2% 10%;
  resize: none;
  min-height: 20vh;
}

.windowContent button.submit {
  border-width: 1px;
  background-color: #D0D0D0;
}

.windowContent button.submit:disabled {
  background-color: #FFFFFF;
}

.exit-button {
  position: fixed;
  cursor: pointer;
  top: 5vh;
  height: 5vh;
  z-index: 2;
}

.exit-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.feedbackI {
  color: grey;
  margin-left: 10px;
}
