#windowFlim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
  display: none;
}

.window {
  position: fixed;
  width: 30vw;
  min-width: 50vh;
  z-index: 2;
  font-family: Sans-serif;
}

.window.task{
	top: 10vh;
	left: 5vw;
}

.window.resource{
	top: 55vh;
	left: 5vw;
}

.window.answer{
	top: 10vh;
	left: 50vw;
}

.window.file{
	top: 10vh;
	left: 50vw;
}

.window.message{
	top: 10vh;
	left: 40vw;
}

.window h3 {
 	margin-bottom: 0.5em;
}

.window b {
	line-height: 1.5em;
}

.window hr {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.windowPrompt{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 999;
}

.windowPrompt div{
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 40vw;
	padding: 10px;
}

.windowContent {
  background-color: #FFFFFF;
  color: 'black';
  min-height: 10vw;
  padding: 1vw;
  font-size: 0.9em;
}

.title {
	background-color: #2FBFBE;
	color: #FFFFFF;
	font-weight: bold;
	width: calc(100% - 0.8vw);	
	padding: 0.4vw;
}

.resourceItem {
  min-height: 5vw;
  margin: 1vh 1vw;
  border: 1px solid #EEEEEE;
  height: 5vh;
  padding: 1vh 1vw;
}
.resourceItem img {
  float: left;
  height: 100%;
  margin-right: 1vw;
}

.resourceItem div{
  margin-top: 1vh;
  height: 2.5vh;
  min-height: 2vw;
  background-color: lightGrey;
}

.resourceItem a {
    text-decoration: none;
    border: none;
    color: initial;
}

.resourceItem div img {
  float: left;
  height: 50%;
  margin-right: 0;
  margin-left: 1vw;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.windowContent button.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid grey;
  background-color: #A9A9A9;
  margin: 0 auto 5% auto;
  width: 80%;
  height: 5vh;
}

.windowContent button.answer:hover {
  background-color: grey;
}

.windowContent button.answer:disabled {
  background-color: #FFFFFF;
  color: #A9A9A9;
}

.windowContent button.answer.wrong:disabled {
  border-color: #FF0000;
}

.windowContent button.answer.correct:disabled {
  border-color: #00FF00;
}

.windowContent .fileButton {
  background-color: #A9A9A9;
  width: 100%;
  height: 100%;
  text-align: center;
}

.windowContent .fileButton img {
	height: 80%;
}

.windowContent .fileButton:hover {
  background-color: grey;
}

.windowContent textarea {
  height: 80%;
  width: 80%;
  margin: 2% 10%;
  resize: none;
  min-height: 20vh;
}

.windowContent button.submit {
  border-width: 1px;
  background-color: #D0D0D0;
}

.windowContent button.submit:disabled {
  background-color: #FFFFFF;
}

.exit-button {
  position: fixed;
  cursor: pointer;
  top: 5vh;
  height: 5vh;
  z-index: 2;
}

.exit-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.feedbackI {
  color: grey;
  margin-left: 10px;
}

/* Window open animation */
#window {
  animation: openWindow 0.25s;
}
@keyframes openWindow {
    from{transform:scale(0)}
}

@keyframes promptFade {
    to{opacity:0}
}

.window.type {
	top:5vh;
	left:5vw;
}

.window.type .windowContent {
	min-height:5vw;
}

.window.popup {
	top:10vh;
	left:40vw;
}

.windowButtons {
	position:fixed;
	bottom:1vh;
	left:45vw;
	height:5vh;
	width:10vw;
	z-index:999;
}

.windowButtons button {
	padding:10px;
	width:100%;
	height:100%;
	background-color:#2FBFBE;
	box-shadow:0 0 0.5vw black;
	font-weight:bold;
	border:none;
	font-size:120%;
	color:white;
}

.windowButtons button:hover {
	background-color:#3FFFCE;
}

.resourceItem .resourceText {
	overflow:none;
	display:inline;
	float:left;
}

.resourceItem .icon {
	float:left;
	height:100%;
	margin-right:1vw;
}

.imageButton img {
	width:25px;
	margin-right:10px;
}

.resourceItem .delete, .resourceItem .edit {
	float:right;
	height:100%;
	margin-left:1vw;
}

.resourceItem .delete:hover, .resourceItem .edit:hover, .resourceItem .iconSelect:hover {
	background-color:rgba(0, 0, 0, 0.1);
	cursor:pointer;
}

.resourceItem .center {
	margin-top:1vh;
	height:2vh;
	min-height:1.5vw;
	background-color:lightGrey;
}

.resourceItem .center img {
	float:left;
	height:50%;
	margin-right:0;
	margin-left:1vw;
}

.windowContent .full {
	width:100%;
	padding:5px;
}

.windowContent .halfButton {
	width:50%;
	display:inline;
	padding:5px;
}

.left {
	float:left;
}

.text-box {
	background-color:white;
	color:black;
	margin:10px 0;
	text-align:left;
	min-width:25vw;
	white-space:nowrap;
	overflow:hidden;
	border:1px solid #15718F;
}

.text-box.large {
	height:10vh;
	overflow:auto;
	white-space:normal;
}

.text-box.tall {
	height:35vh;
	overflow:auto;
	white-space:normal;
}

.answerInputs {
	background-color:lightgrey;
	overflow:none;
	padding:10px;
	margin:10px 0;
}

.answerInputs input {
	width:100%;
}

.answerInputs input:first-of-type {
	margin-bottom:10px;
}

.answerRadio {
	float:left;
	margin-top:5px;
}

.imageButton {
	display:table;
	padding:5px;
	border:1px solid black;
	background-color:lightGrey;
	margin-top:10px;
	margin-bottom:0;
}

.imageButton:hover {
	background-color:grey;
}

.imageButton div {
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}

select {
	background-color:lightGrey;
}

select:hover {
	background-color:#E3E3E3;
}