.playDiv{
	width: 100%;
	padding: 50px;
	padding-top: 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.playButton{
	background-color: green;
	color: white;
	font-size: 150%;
	padding: 15px 25vw;
	text-decoration: none;
}

.playButton:hover{
	color: white;
	text-decoration: none;
}

.HomepageRightContentPane{
	position: relative;
	right: 10%;
	font-size: 1.3em;
}
.PlacesRightContentPane{
	font-size: 1.3em;
}
.moveImgDown{
	margin-top: 100px;

}
.downloads{
	margin-left: -15px;
}
.larger{
	font-size: 1.1em;
}
.larger2{
	font-size: 1.3em;

}
.moveDown{
  position: relative;
  top: 26px;
}

ol{
	font-size: 1.3em;
}

h3{
	font-weight: bold;
}
h4{
  font-weight: bold;
}
.span8{
  margin-left: -25%;
}
.carousel-control {
  top:50%;
  width:auto;
  height:1em;
  background:transparent;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right  {
  position:static;
  display:block;
  width:auto;
}
.carousel-control .glyphicon-chevron-left:before {
  margin-left:0;
}
.carousel-control .glyphicon-chevron-right:before {
    //Reset the icon
    content: " ";
    //Give layout
    display:block;
    //Your image as background
    background:url('http://yourarrow.png') no-repeat;
    //To show full image set the dimensions
    width:30px;
	height:30px;
}
.label{
  font-size: 105%;
}
.top-buffer { margin-top:20px; }
#nsf{
  position: relative;
  left: 87%;
  margin-top: -25%;
}
#nsf2{
  position: relative;
  left: 15%;
  margin-top: -25%;
}

.nav.drawer {
    position: absolute;
    top: 100%;

    width: 130px;
    box-shadow: 0 0 1px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.navbar-right .nav.drawer {
    right: -9%;
}

.drawer-handle {
    position: relative;
}

.drawer-handle:hover .drawer{
    visibility: visible;
    opacity: 1;
}

.btn-play-big {
    font-size: 22pt;
    width: 100%;
}

.col-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#footer-logos {
    float: right;
}

.footer {
    position: relative;
    z-index: -1;
}

.yt-embed {
    display: inline-block;
    position:relative;
    width: 100%;
}

/* clearfix */
.yt-embed:before {
    content: "";
    display:block;
    width: 100%;
    margin-top: 56.25%; /* maintain 16:9 aspect ratio */
}

.yt-embed .yt-player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;  
}

.uline:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #aaa;
}

.subtitle {
	font-size: 12px !important;
	color: #bbb;
	font-style: italic;
}

h1.med {
	font-size: 42px
}

.heavy {
    font-weight: 600;
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron.light {
    background-color: #fafafa; 
}

.jumbotron.short {
    padding-top: 1em;
}

.row-centered{
    text-align: center;
    margin: 0 auto;
}

.center-block{
    float: none;
}

.panel-buttons {
    display:block;
    text-align:center;
    padding:0;
}

.panel-buttons li {
    text-align:center;
    width: 100px;
    height: 112px;
    background-color: #f6f6f6;
    display: inline-block;
    color: #337ab7;
    transition: background-color 0.2s;
    margin-bottom: 3px;
    position: relative;
    vertical-align: top;
}

.panel-buttons.col li {
    width: 100%;
    height: auto;
}

.panel-buttons.border li {
    border: 1px solid #aaa;
}

.panel-buttons li a, .panel-buttons li button {
    padding: 14px 4px 10px 4px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.panel-buttons.col li a, .panel-buttons.col li button {
    padding: 5px;
    height: auto;
    width: 100%;
}

.panel-buttons.inline li {
    height: auto;
    width: auto;
}

.panel-buttons.inline li a, .panel-buttons.inline li button {
    padding: inherit 20px inherit 20px;
    height: 2.4em;
    width: 100%;
    text-align:center;
}

.panel-buttons li button, .panel-buttons li a, .panel-buttons li a:visited, .panel-buttons li a:hover{
    text-decoration: none;
    color: inherit;
    transition: color 0.05s;
}

.panel-buttons li:hover {
    background-color: #337ab7;
    color: #fff;
    transition: background-color 0.1s;
}

button.btn-tile {
    background: none;
    border: none;
    color: inherit;
    width: 100%;
    height: 100%;

}

.btn-tile.horiz {
    width: auto;
    height: auto;
}

.btn-tile.horiz .glyphicon, .panel-buttons.inline li button .glyphicon {
    font-size: 1.3em;
    display: inline;
}

.btn-tile.horiz .name{
    vertical-align: top;
}

.btn-tile[disabled] {
    color: #aaa;
}

.btn-tile.medium {
    font-size: 16px;
}

.btn-tile.large {
    font-size: 20px;
}

.modal-dialog {
    background-color: #fefefe;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input {
    color: black;
}

button.btn-tile:focus{
    outline: none;
}

.btn-tile .glyphicon {
    display: block;
    width: 100%;
    font-size: 4em;
    text-align:center;
}

.jumbotron table td, .jumbotron table th{
    padding-left: 6px;
    white-space: nowrap;
    max-width: 300px;
    vertical-align: top;
}

/*
.jumboton table td:not(:last-child),
.jumbotron table th:not(:last-child) {
    border-right: 1px #aaa solid;
}
*/

.jumbotron table {
    border-collapse: collapse;
    border: 1px solid #aaa;
}

.jumbotron table td.of-scroll {
    white-space:nowrap;
    overflow-x:scroll;
}

.jumbotron table td.wrap {
    white-space:normal;
}

.jumbotron table th {
    padding: 4px 10px;
    text-align:center;
    background-color: #555;
    color: #fff;
}

.jumbotron table td {
    padding: 0 0.6em;
}

.jumbotron table tr:nth-child(even) {
    background-color: #fefefe;
}

.modal-header .close {
    position: absolute;
    top: 10px;
    right: 15px;
}

hr {
    border-top-color: #aaa;
}

label {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: normal;
}

.navbar {
    height: 51px;
}

.clearfix {
    display: block;

}

.unconfirmed-email {
	color: rgba(244, 56, 56, 1);
}

@media screen and (max-width: 767px) {
    #nsf{
        position: relative;
        left: 0%;
        margin-top: -25%;
    }

    .nav.drawer {
        position: inherit;
        top: 0;
        width: 100%;
        box-shadow: none;
        background-color: inherit;
        visibility: visible;
        opacity: 1;
        transition: opacity 0s;
    }
    
    .nav.drawer li{
        padding-left: 10px;
    }

    .navbar-right .nav.drawer{
        right: 0;
    }
    
    .btn-play-big {
        font-size: 18pt;
    }
    
    #footer-logos {
        float: none;
    }
}
